playwright==1.40.0
pytest==7.4.0
pytest-playwright==0.4.0
pytest-xdist==3.3.1
pytest-html==4.1.1
allure-pytest==2.14.1
allure-python-commons==2.14.1
pytest-bdd==7.0.0
requests==2.31.0
pytest-mock==3.11.1
pytest-timeout==2.1.0
pytest-benchmark==4.0.0
opencv-python==4.11.0.86
pytest-check==2.2.0
pytest-reportportal==5.3.1
deepdiff==6.3.1
aiohttp==3.11.18
pytest-asyncio==0.23.5
pytest-cov==4.1.0
robotframework-requests==0.9.5
pytest-metadata==3.0.0
pymongo==4.5.0
faker==19.3.1
python-dotenv==1.0.0